#modal > div:nth-child(1) {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.6;
}
#modal > div:nth-child(2) {
  border-radius: 5px;
  position: fixed;
  height: 400px;
  width: 350px;
  left: 50%;
  top: 50%;
  margin-left: -175px;
  margin-top: -200px;
  background-color: white;
  z-index: 12;
  -webkit-animation: fadein var(--fade-in); /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein var(--fade-in); /* Firefox < 16 */
  -ms-animation: fadein var(--fade-in); /* Internet Explorer */
  -o-animation: fadein var(--fade-in); /* Opera < 12.1 */
  animation: fadein var(--fade-in);
  display: flex;
  flex-direction: column;
}
#modalHeader {
  height: 60px;
  background-color: var(--primary);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: var(--medium-padding);
}
#modalBody {
  flex: auto;
}
#modalBody > div {
  margin: 0 !important;
  height: 40px !important;
  line-height: 40px;
  padding: var(--general-padding);
  color: var(--primary-text);
  display: flex;
  flex-direction: row;
}
#modalBody > div > a {
  flex: 1;
}
#modalBody > div > a:nth-child(2) {
  text-align: right;
}
#modalBody > div:nth-child(1) {
  font-weight: bold;
  text-align: center;
}
#modalFooter {
  height: 40px;
  line-height: 40px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  padding: var(--medium-padding);
  background-color: var(--primary-light);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
#modalFooter > * {
  color: var(--primary-text);
}
#modalFooter > a {
  margin: 0 !important;
  border-radius: var(--general-border-radius);
  text-align: center;
  cursor: pointer;
}
#modalFooter > div {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-right: 7px !important;
  line-height: 40px;
}
#modalFooter > div > a {
    font-size: 12px;
    margin-right: 0 !important;
}
#modalFooter > div > i {
  line-height: 40px;
  color: var(--primary-text);
}
#modal > div > a {
  line-height: 40px;
  color: var(--primary-text) !important;
}
#modalFooter > a {
  width: 30%;
  background-color: var(--green);
  margin-left: 7px !important;
  font-weight: bold;
  color: var(--bright-text);
}
.cancellation {
  background-color: var(--orange) !important;

}
@keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadein { from { opacity: 0; } to   { opacity: 1; } }
@-webkit-keyframes fadein { from { opacity: 0; } to   { opacity: 1; } }
@-ms-keyframes fadein { from { opacity: 0; } to   { opacity: 1; } }
@-o-keyframes fadein { from { opacity: 0; } to   { opacity: 1; } }
